
<div class="jumbotron background-sheet form" >
	<h1 class="center-this">ChackList</h1>
	<p class="center-this">Сайт розробив студент групи 1КН-13б Рипюк Олександр</p>
	<p style="text-align:right">2015р.</p>
	<div class="center-this">
		<%= link_to "Назад", root_path, class: "btn btn-success" %>
	</div>
</div>
