<%= simple_form_for @item do |f| %>
	<%= f.input :title, label: "Заголовок" %>
	<%= f.input :description, label: "Опис" %>
	<div class="center-this"><%= f.button :submit, class: "btn btn-success", text: "Створити" %><p></p></div>
<% end %>