/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Merriweather:400,300);
@import "bootstrap-sprockets";
@import "bootstrap";

@mixin nav_link_hover {
	transition: 0.4s;
	color: lighten(#222, 30%);
	text-decoration: none;
}

body {
	font-family: 'Merriweather', serif;
	background-color: #f0f0f0;
}

a {	
	color: darken(#e7e7e7, 70%);
}

.navbar {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

.navbar-default {

	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #fff;


	.navbar-nav > li > a {
		color: #222;
	}

	.navbar-link {
		color: #222;
	}

	.navbar-brand {
		color: #222;
		letter-spacing: 1.25px;
	}

}

.item {
	border-bottom: 2px solid #b7b7b7;
	padding-bottom: 1.5em;
	.item-title {
		font-family: 'Oswald', sans-serif;
		margin-top: 0;
	}
	.item-desc {
		font-size: 1em;
	}
	.time-ago {
		color: darken(#e7e7e7, 50%);
		font-size: 0.85em;
		letter-spacing: 1.25;
	}
	.item-sub-title {
		margin-bottom: 0;
	}
}

.item:nth-child(n+1) {
	padding-top: 1.5em;
}

.center-this{
	text-align: center;
}

.background-sheet{
	background-color: #fff;
	border: 2px solid #b7b7b7;
	/*border-radius: 10px;*/
	/*box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);*/
}
.navbar-bottom{
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #fff;
	border-top: 1px solid #e7e7e7;
}
