<div class="jumbotron background-sheet">
	<h1 class="center-this">Ласкаво просимо вас на Chacklist</h1>
	<p class="center-this">Тримайте ваш список справ під наглядом</p>
	<div class="center-this">
		<%= link_to "Реєстрація", new_user_registration_path, class: "btn btn-success" %>
		<%= link_to "Вхід", new_user_session_path, class: "btn btn-success" %>
	</div>
</div>